@media screen and (max-width: 1200px) {
    #desktop-nav {
        display: none;
    }
    #hamburger-nav {
        display: flex;
        position: fixed;
        z-index: 1000;
        width: 100%;
        height: fit-content;
        border-bottom: 0.2rem solid white;
    }

    .hamburger-menu {
        z-index: 1;
    }

    .menu-links {
        margin-top: 18vh;
    }

    nav {
        border-bottom: none;
    }

    body {
        padding-top: 0;
    }

    .logo img {
        height: 15vh;
        padding-top: 0;
    }

    /* ABOUT */
    #about-header {
        font-size: 3rem;
    }

    #footer-header {
        font-size: 2rem;
    }

    .contact-info {
        font-size: 1.2rem;
    }

    #ig-logo {
        height: 2rem;
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
    }

    .footer {
        margin-bottom: 1rem;
    }

    .video-container {
        height: 15rem;
        padding-top: 38vh;
    }

    /* ABOUT CARDS */
    #about {
        margin-top: -7rem;
    }

    .cards {
        flex-direction: column;
        gap: 1rem;
    }

    .card {
        min-width: 85vw;
        height: 10vh;
        transition: height 0.5s ease-in-out;
    }

    .card p {
        display: none;
        width: 100%;
    }

    .card.active {
        height: 40vh;
        width: 85vw;
    }

    .card.active p {
        display: flex;
        color: white;
        font-weight: bold;
        text-shadow:
            1px 1px 0 black,   /* Right and down */
            -1px -1px 0 black, /* Left and up */
            -1px 1px 0 black,  /* Left and down */
            1px -1px 0 black,  /* Right and up */
            1px 0 0 black,     /* Right */
            -1px 0 0 black,    /* Left */
            0 1px 0 black,     /* Down */
            0 -1px 0 black;    /* Up */
    }

    .title h2 {
        transform: none;
        margin-top: 1rem;

    }

    /* SERVICES */
    #services {
        margin-top: 5rem;
    }
    #services-header {
        font-size: 3rem;
    }

    /*MEMBERSHIPS*/
    #memberships-header {
        font-size: 3rem;
        margin-top: -60rem;
        margin-left: 6rem;
        margin-bottom: 5vh;
    }

    #contact-container {
        margin-top: 52rem;
    }

    .contact-item {
        display: flex;
        flex-direction: column;
        margin-left: 20px;
        margin-right: 20px;
        height: fit-content;
        box-shadow: 0 0 20px 10px rgba(240, 239, 239, 0.1);
        border: 2px solid goldenrod;
    }

    .contact {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .first-text {
        font-size: 2rem;
        margin-left: -2rem;
    }

    #contact-subhead {
        font-size: 1.5rem;
    }

    #contact-text {
        font-size: 1rem;
        margin-bottom: 1rem;
    }

    .contact-img {
        height: 80px;
        width: 80px;
    }

    .submit-form {
        height: 31rem;
    }

    /*SERVICES*/
    .container {
        margin-top: 3.5rem;
        background-color: transparent;
    }

    .footer {
        top: 185rem;
        height: 12rem;
        margin-top: 3rem;
        padding-bottom: 2rem;
        padding-top: 0rem;
    }
}


/* Services Slider */
@media (max-width: 900px) {
    .slider {
        position: absolute;
        inset: 40px 40px 350px 40px;
    }

    .slider .slides {
        width: 100px;
        height: 100px;
        top: initial;
        bottom: -170px;
    }

    .slider .slides:nth-child(1),
    .slider .slides:nth-child(2) {
        top: initial;
        bottom: 0px;
    }

    .slider .slides:nth-child(3) {
        left: 0;
    }

    .slider .slides:nth-child(4) {
        left: 120px;
    }
    .slider .slides:nth-child(5) {
        left: 240px;
    }
    .slider .slides:nth-child(6) {
        left: 360px;
    }

    .buttons {
        bottom: 180px;
    }

    .content h2 {
        font-size: 2em;
        white-space: wrap;
    }

    .buttons span {
        width: 30px;
        height: 30px;
    }

    .buttons span::before {
        height: 10px;
        width: 10px;
    }

    .card-body p {
        font-size: 0.9rem;
    }

    .content p {
        font-size: 0.9rem;
    }

    .info-label, .info-item a {
        font-size: 1.5rem;
    }

    .submit-form {
        height: 7rem;
        background-color: black;
        margin-top: 0;
    }

    .info-item, .info-label, .info-item a{
        background-color: black;
    }

    .info-label, .info-item a {
        color: white;
    }

    #contact-container {
        margin-top: 38rem;
        background-color: transparent;
    }

    #contact-subhead {
        font-size: 3.5vw;
        width: 90%;
        text-align: center;
    }

    .footer {
        position: static;
        margin-top: 150vh;
    }

    .membership-section {
        margin-top: 62rem;
        position: static;
    }


    #memberships-header {
        position: static;
        transform: translateY(75vh);
        display: flex;
        align-items: center;
    }
}


/* MOBILE VIEW */
@media (max-width: 400px) {
    .video-container {
        transform: translateY(-0.9vh);
    }
    .footer {
        position: static;
        margin-top: 160vh;
        height: 20vh;
    }

    .contact-info {
        margin-top: 10vh;
    }

    #memberships-header {
        position: static;
        transform: translate(-17px, 660px);
    }
}


@media (max-width: 375px) {
    .footer {
        position: static;
        margin-top: 200vh;
    }

    #memberships-header {
        transform: translate(-30px, 675px);
    }
}
